.dashboard-layout {
    @apply flex min-h-screen;
}

/* SIDEBAR */
.dashboard-sidebar {
    @apply bg-secondary min-w-[250px] h-screen fixed top-0 left-0 z-[999] text-ghost-white pt-8 flex flex-col justify-between;
}
.small-sidebar {
    @apply hidden;
}
.sidebar-logo {
    @apply flex items-center justify-center;
}
.logo {
    @apply w-40 h-auto;
}
.sidebar-body {
    @apply overflow-y-auto;
}
.sidebar-nav-items {
    @apply flex flex-col gap-6 px-6 text-ghost-white font-medium text-base;
}
.sidebar-item {
    @apply w-full flex items-center gap-3 border-b-2 border-body-color/60 pb-2 cursor-pointer;
}
.sidebar-item:hover {
    @apply border-primary;
}
.sidebar-active-item {
    @apply text-primary border-primary;
}
.sidebar-item .icon {
    @apply text-xl;
}
.store-status-details {
    @apply p-6 bg-primary space-y-1;
}
.shop-name {
    @apply font-semibold text-base;
}
.shop-name:hover {
    @apply underline;
}
.online-status {
    @apply flex items-center gap-1;
}
.online-status>div {
    @apply w-2 h-2 bg-accent rounded-full;
}
.online-status>p {
    @apply text-sm font-medium text-light-orange;
}

/* SMALL SIDEBAR - FOR MEDIUM AND SMALL DEVICES */
.sidebar-oberlay {
    @apply fixed inset-0 bg-secondary/80 z-[999];
}
.small-sidebar {
    @apply fixed top-0 left-0 h-screen flex flex-col justify-between bg-secondary w-[250px] z-[1002] text-ghost-white pt-6 transform transition-transform duration-500 ease-in-out;
}
.close-btn {
    @apply absolute top-0 right-[-46px] bg-ghost-white text-secondary font-semibold text-3xl p-2;
}
.close-btn:hover {
    @apply  bg-primary/20;
}

/* DASHBOARD MAIN CONTENT AREA */
.dashboard-content {
    @apply px-6 py-8 w-full space-y-8 overflow-auto ml-[250px];
}

/* DASHBOARD PAGE HEADER */
.page-header {
    @apply pb-6 border-b-2 border-border-color/60;
}
.page-heading-content {
    @apply flex justify-between items-start 
}
.heading {
    @apply space-y-1;
}
.heading .title {
    @apply text-[26px] text-heading-color font-semibold;
}
.heading .subtitle {
    @apply text-body-color text-sm font-medium;
}
.right-side {
    @apply flex items-center gap-4;
}
.notification, .support, .profile {
    @apply text-lg text-heading-color cursor-pointer relative bg-light-orange p-3 border-2 border-body-color/30 rounded-md;
}
.notification:hover, .support:hover, .profile:hover {
    @apply border-secondary;
}
.notification-circle {
    @apply w-2 h-2 rounded-full bg-primary absolute top-2 right-2;
}
.profile {
    @apply p-1.5;
}
.profile img {
    @apply w-8 h-8 rounded-full;
}

/* STAT CARDS */
.stat-card-grid {
    @apply grid grid-cols-4 gap-6 w-full;
}
.stat-card {
    @apply flex items-center gap-3 border border-border-color/60 w-full bg-white p-6 rounded-lg shadow-md;
}
.stat-card:hover {
    @apply shadow-lg;
}
.stat-card .icon {
    @apply text-[28px] font-medium p-2.5 rounded-md;
}
.stat-card .data {
    @apply space-y-1;
}
.stat-card .data .label {
    @apply text-sm text-body-color font-medium;
}
.stat-card .data .value {
    @apply text-heading-color text-[22px] font-bold;
}
.stat-card-trend {
    @apply flex items-center gap-1 text-xs font-medium;
}

/* SHARED SECTION LAYOUT & STYLES */
.section-container {
    @apply bg-white shadow-lg p-6 rounded-[10px] space-y-4;
}
.section-header {
    @apply flex items-center justify-between border-b-2 border-border-color/60 pb-3;
}
.section-header h5 {
    @apply text-secondary text-xl font-semibold;
}
.two-col-grid {
    @apply grid grid-cols-2 gap-6;
}

/* --- CHART STYLES --- */
.chart-header {
    @apply flex justify-between;
}
.chart-sub-heading {
    @apply text-sm font-medium text-body-color;
}
.chart-heading {
    @apply text-2xl text-heading-color font-semibold
}

/* TABLE LAYOUT STYLE */
.dashboard-table-layout {
    @apply overflow-hidden rounded-[10px] border border-border-color/60;
}
.dashboard-table {
    @apply w-full min-w-full text-sm;
}
.dashboard-table>thead {
    @apply bg-body-color/10 border-b border-border-color/60;
}
.dashboard-table>thead th {
    @apply py-3 px-4 text-left font-semibold text-heading-color;
}
.dashboard-table>tbody>tr {
    @apply border-b capitalize border-border-color/60 align-middle text-sm text-body-color font-medium transition;
}
.dashboard-table>tbody>tr:hover {
    @apply bg-body-color/5;
}
.dashboard-table>tbody>tr>td {
    @apply px-4 py-2;
}

/* ACTIVITY CARD STYLE */
.activity-card {
    @apply flex gap-3 items-center;
}
.activity-card:hover {
    @apply bg-body-color/10 rounded-lg;
}
.activity-card>.icon {
    @apply p-3 rounded-lg text-center text-ghost-white text-2xl;
}
.activity-card>.content {
    @apply flex flex-col items-start gap-1.5 px-0 text-left;
}
.activity-item-title {
    @apply text-sm font-semibold text-heading-color;
}
.activity-card>.content>span {
    @apply text-xs font-medium text-body-color;
}

/* TOP SELLING PRODUCT CARD STYLE */
.top-selling-product-card {
    @apply flex items-center justify-between bg-body-color/10 text-sm px-3 py-2 w-full rounded-lg;
}
.top-selling-product-card:hover {
    @apply bg-body-color/15;
}
.number-name {
    @apply flex items-center gap-3;
}
.serial-number {
    @apply text-primary font-bold text-xl bg-primary/10 w-12 h-10 flex items-center justify-center rounded-md;
}
.name-qty {
    @apply flex flex-col gap-1.5 w-full;
}
.name-qty p {
    @apply font-semibold text-heading-color;
}
.name-qty span {
    @apply text-xs font-medium text-body-color;
}
.top-selling-product-card .revenue {
    @apply text-primary font-bold flex gap-1 items-center;
}

/* ORDER CARDS STYLE */
.order-card {
    @apply rounded-md border border-border-color/60 w-full h-full flex flex-col;
}
.order-card-header {
    @apply flex items-center justify-between gap-4 px-4 py-3 bg-body-color/10 border-b border-border-color/60;
}
.order-id {
    @apply text-base font-bold text-heading-color;
}
.customer-name {
    @apply text-body-color font-medium text-sm;
}
.order-card-body {
    @apply px-4 py-3 space-y-2.5 flex-1;
}
.order-items-grid {
    @apply flex flex-col gap-2 font-medium text-heading-color;
}
.order-item {
    @apply border text-xs border-border-color/60 rounded-full w-fit px-2.5 py-1 bg-ghost-white;
}
.remaining-items {
    @apply flex gap-2 items-center text-xs font-medium;
}
.show-all-btn {
    @apply text-primary text-sm font-semibold;
}
.show-all-btn:hover {
    @apply underline
}
.order-card-divider {
    @apply border border-border-color/60;
}
.order-other-info {
    @apply flex items-center justify-between gap-4;
}
.order-price {
    @apply text-lg font-bold text-heading-color;
}
.order-date {
    @apply text-sm text-body-color font-medium text-right;
}
.order-next-step {
    @apply flex flex-col gap-1.5;
}
.next-step-btn {
    @apply p-1 w-full rounded text-xs font-medium
}
.next-step-btn:hover {
    @apply bg-opacity-70 shadow-lg;
}
.order-card-footer {
    @apply px-4 py-3 bg-body-color/10 border-t border-border-color/60 flex justify-center mt-auto;
}
.order-card-footer:hover {
    @apply bg-body-color/20 text-heading-color;
}
.order-view-btn {
    @apply text-sm text-body-color font-semibold bg-transparent;
}

/* SEARCHBAR AND FILTERS */
.searchbar-filters {
    @apply flex items-center w-full gap-4 justify-between;
}
.dropdown-filters {
    @apply flex items-center gap-3;
}
.dashboard-searchbar {
    @apply flex items-center gap-3 bg-ghost-white text-heading-color font-medium text-sm px-4 py-3 rounded-md border border-border-color/60 w-full;
}
.dashboard-search-input {
    @apply w-full bg-transparent focus:outline-none;
}
.dashboard-search-input::placeholder {
    @apply text-body-color/50;
}

/* DASHBOARD PAGINATION */
.dashboard-pagination {
    @apply flex items-center justify-between text-xs font-medium text-body-color mt-6;
}
.page-numbers {
    @apply flex items-center gap-x-1 text-sm;
}
.page-number {
    @apply h-7 w-7 rounded-full text-heading-color;
}
.page-number:hover {
    @apply text-primary bg-primary/20;
}
.active-page {
    @apply bg-primary text-ghost-white font-semibold;
}


/* FILTER BUTTONS */
.filter-btns {
    @apply flex flex-wrap gap-3 items-center w-full;
}
.filter-btn {
    @apply flex items-center gap-2 text-sm font-medium border rounded-lg px-3 py-1.5;
}
.filter-btn:hover {
    @apply border-primary bg-primary/20;
}
.active-filter-btn {
    @apply bg-primary border-primary text-ghost-white pointer-events-none;
}
.inactive-filter-btn {
    @apply text-heading-color border-heading-color;
}
.order-count {
    @apply px-1.5 py-0.5 rounded-md text-xs font-semibold;
}
.active-order-count {
    @apply bg-ghost-white/20;
}
.inactive-order-count {
    @apply bg-heading-color/20 ;
}
/* -------------------------------------------------------------- */


/* MEDIUM SCREEN */
@media (min-width: 639px) and (max-width: 1023px) {
    /* SIDEBAR */
    .dashboard-sidebar {
        @apply hidden;
    }
    .logo {
        @apply w-36 h-auto;
    }
    .sidebar-nav-items {
        @apply flex flex-col gap-3 px-0 text-ghost-white font-medium text-base;
    }
    .sidebar-item {
        @apply w-full flex items-center gap-2 border-b-0 cursor-pointer px-6 py-2;
    }
    .sidebar-item:hover {
        @apply bg-primary/20;
    }
    .sidebar-active-item {
        @apply bg-primary text-ghost-white;
    }
    .store-status-details {
        @apply px-6 py-4;
    }
    .shop-name {
        @apply text-sm;
    }
    .online-status {
        @apply flex items-center gap-1;
    }
    .online-status>div {
        @apply w-1.5 h-1.5;
    }
    .online-status>p {
        @apply text-xs;
    }

    /* DASHBOARD MAIN CONTENT AREA */
    .dashboard-content {
        @apply p-6 pt-0 space-y-6 ml-0;
    }

    /* DASHBOARD PAGE HEADER */
    .page-header {
        @apply pb-4;
    }
    .page-heading-content {
        @apply flex justify-between items-center;
    }
    .heading {
        @apply space-y-0.5;
    }
    .heading .title {
        @apply text-[22px];
    }
    .right-side {
        @apply flex items-center gap-3;
    }
    .notification, .support, .profile {
        @apply p-2 rounded;
    }
    .notification:hover, .support:hover, .profile:hover {
        @apply border-secondary;
    }
    .notification-circle {
        @apply w-1.5 h-1.5 top-1.5 right-1.5;
    }
    .profile {
        @apply p-1.5;
    }
    .profile img {
        @apply w-8 h-8;
    }

    /* STAT CARDS */
    .stat-card-grid {
        @apply grid-cols-4 gap-4;
    }
    .stat-card {
        @apply flex flex-col items-center justify-center gap-2 p-4 rounded-md;
    }
    .stat-card .icon {
        @apply text-[28px] font-medium p-2 rounded-md;
    }
    .stat-card .data {
        @apply space-y-1 flex flex-col items-center justify-center;
    }
    .stat-card .data .value {
        @apply text-xl;
    }
    .stat-card-trend {
        @apply text-[10px];
    }

    /* SHARED SECTION LAYOUT & STYLES */
    .section-container {
        @apply p-4 rounded-lg;
    }
    .two-col-grid {
        @apply grid grid-cols-1 gap-6;
    }

    /* DASHBOARD PAGINATION */
    .dashboard-pagination {
        @apply mt-4;
    }

    /* ORDERS CARDS LAYOUT */
    .order-card-layout {
        @apply grid grid-cols-2 gap-4 items-stretch;
    }
    /* ORDER CARD STYLES */
    .order-next-step {
        @apply flex flex-row gap-4;
    }
    .next-step-btn {
        @apply p-1.5 rounded-md text-sm;
    }

    /* SEARCHBAR AND FILTERS */
    .dashboard-searchbar {
        @apply py-2;
    }

    /* FILTER BUTTONS */
    .filter-btns {
        @apply gap-2;
    }
    .filter-btn {
        @apply gap-1.5 rounded-md px-2.5;
    }
    .order-count {
        @apply px-1 py-0.5 rounded;
    }
}
/* -------------------------------------------------------------- */


/* SMALL SCREEN */
@media (max-width: 639px) {
    /* SIDEBAR */
    .dashboard-sidebar {
        @apply hidden;
    }
    .logo {
        @apply w-36 h-auto;
    }
    .sidebar-nav-items {
        @apply flex flex-col gap-3 px-0 text-ghost-white font-medium text-base;
    }
    .sidebar-item {
        @apply w-full flex items-center gap-2 border-b-0 cursor-pointer px-6 py-2;
    }
    .sidebar-item:hover {
        @apply bg-primary/20;
    }
    .sidebar-active-item {
        @apply bg-primary text-ghost-white;
    }
    .store-status-details {
        @apply px-6 py-4;
    }
    .shop-name {
        @apply text-sm;
    }
    .online-status {
        @apply flex items-center gap-1;
    }
    .online-status>div {
        @apply w-1.5 h-1.5;
    }
    .online-status>p {
        @apply text-xs;
    }
    .close-btn {
        @apply right-[-40px] text-2xl;
    }

    /* DASHBOARD MAIN CONTENT AREA */
    .dashboard-content {
        @apply py-6 px-4 pt-0 space-y-6 ml-0;
    }

    /* DASHBOARD PAGE HEADER */
    .page-header {
        @apply pb-3;
    }
    .page-heading-content {
        @apply flex justify-between items-center
    }
    .heading {
        @apply space-y-0;
    }
    .heading .title {
        @apply text-base;
    }
    .heading .subtitle {
        @apply text-xs;
    }
    .right-side {
        @apply gap-2;
    }
    .notification, .support, .profile {
        @apply text-base p-2 rounded;
    }
    .notification-circle {
        @apply w-1.5 h-1.5 top-1.5 right-1.5;
    }
    .profile {
        @apply p-1;
    }
    .profile img {
        @apply w-6 h-6;
    }

    /* STAT CARDS */
    .stat-card-grid {
        @apply grid grid-cols-1 gap-3 w-full overflow-x-auto px-0.5 items-stretch snap-x snap-mandatory scroll-smooth;
        grid-template-columns: auto auto auto auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }
    .stat-card-grid::-webkit-scrollbar {
        display: none;
    }
    .stat-card {
        @apply flex items-center gap-2.5 bg-white p-4 rounded-lg shadow-md shrink-0 w-fit mb-1;
    }
    .stat-card .data {
        @apply space-y-0.5 min-w-max;
    }
    .stat-card .data .label {
        @apply text-xs;
    }
    .stat-card .data .value {
        @apply text-lg;
    }
    .stat-card-trend {
        @apply text-[10px];
    }

    /* SHARED SECTION LAYOUT & STYLES */
    .section-container {
        @apply shadow-md p-4 rounded-lg space-y-3;
    }
    .section-header {
        @apply pb-2;
    }
    .section-header h5 {
        @apply text-lg;
    }
    .two-col-grid {
        @apply grid grid-cols-1 gap-6;
    }

    /* TOP SELLING PRODUCT CARD STYLE */
    .top-selling-product-card {
        @apply p-2 rounded-md;
    }
    .serial-number {
        @apply rounded;
    }

    /* SEARCHBAR AND FILTERS */
    .searchbar-filters {
        @apply flex flex-col gap-3;
    }
    .dropdown-filters {
        @apply w-full flex-wrap justify-center;
    }
    .dashboard-searchbar {
        @apply gap-2 px-3 py-2 rounded;
    }

    /* ORDERS CARDS LAYOUT */
    .order-card-layout {
        @apply grid grid-cols-1 gap-3 items-stretch;
    }
    /* ORDER CARDS STYLE */
    .order-card-header {
        @apply px-3 py-2;
    }
    .order-id {
        @apply text-sm;
    }
    .customer-name {
        @apply text-xs;
    }
    .order-card-body {
        @apply px-3 py-2 space-y-2;
    }
    .order-items-grid {
        @apply gap-1;
    }
    .order-item {
        @apply px-2 py-0.5;
    }
    .remaining-items {
        @apply gap-1.5;
    }
    .show-all-btn {
        @apply text-xs;
    }
    .order-other-info {
        @apply gap-3;
    }
    .order-price {
        @apply text-base;
    }
    .order-date {
        @apply text-xs;
    }
    .order-next-step {
        @apply flex flex-row gap-2.5;
    }
    .next-step-btn {
        @apply text-sm;
    }
    .order-card-footer {
        @apply px-3 py-2;
    }
    .order-view-btn {
        @apply text-xs;
    }

    /* FILTER BUTTONS */
    .filter-btns {
        @apply gap-1.5;
    }
    .filter-btn {
        @apply gap-1 rounded px-2 py-1 text-xs;
    }
    .order-count {
        @apply px-1 py-0 rounded-sm text-[10px];
    }
}