/* --- SALES OVERVIEW CHART --- */
.chart-header {
    @apply flex justify-between;
}
.chart-sub-heading {
    @apply text-sm font-medium text-body-color;
}
.chart-heading {
    @apply text-2xl text-heading-color font-semibold
}
/* METRIC PILL */
.metric-pill-layout {
    @apply grid grid-cols-3 gap-4;
}
.metric-pill-card {
    @apply text-body-color font-medium space-y-2 border border-border-color/60 p-4 rounded-md;
}
.pill-card-label {
    @apply text-sm;
}
.pill-card-value {
    @apply text-xl text-heading-color font-semibold;
}
.pill-card-trend {
    @apply inline-flex h-fit w-fit items-center gap-1 rounded-full px-2.5 py-1 text-xs font-medium;
}
.trend-up {
    @apply bg-accent/20 text-accent;
}
.trend-down {
    @apply bg-danger/20 text-danger;
}
.trend-stable {
    @apply bg-secondary/20 text-secondary;
}

/* --- RECENT ACTIVITES --- */
.recent-activites {
    @apply flex flex-col gap-y-4;
}

/* --- TOP SELLLING PRODUCTS LIST --- */
.top-selling-products {
    @apply flex flex-col gap-y-3;
}

/* --- QUICK ACTIONS LIST --- */
.quick-action-layout {
    @apply grid grid-cols-2 gap-6;
}
.action-card {
    @apply px-4 py-8 flex flex-col items-center justify-center gap-y-2.5 text-center text-heading-color font-medium text-base border border-border-color/60 rounded-lg bg-ghost-white;
}
.action-card:hover {
    @apply text-primary shadow-md;
}
.action-card-icon {
    @apply text-[26px];
}
/* -------------------------------------------------------------- */


/* MEDIUM SCREEN */
@media (min-width: 639px) and (max-width: 1023px) {
    /* --- SALES OVERVIEW CHART --- */
    .chart-sub-heading {
        @apply text-sm font-medium text-body-color;
    }
    .chart-heading {
        @apply text-xl;
    }
    /* METRIC PILL */
    .metric-pill-card {
        @apply space-y-1.5;
    }

    /* --- QUICK ACTIONS LIST --- */
    .quick-action-layout {
        @apply grid grid-cols-3 gap-4;
    }
    .action-card {
        @apply px-4 py-6 gap-y-2 rounded-md text-sm;
    }
    .action-card-icon {
        @apply text-xl;
    }

    /* --- RECENT ORDERS TABLE --- */
    .order-card-layout {
        @apply grid grid-cols-2 gap-4 items-stretch;
    }

    /* --- RECENT ACTIVITES --- */
    .recent-activites {
        @apply flex flex-col gap-y-4 w-full;
    }
}
/* -------------------------------------------------------------- */


/* SMALL SCREEN */
@media (max-width: 639px) {
    /* --- SALES OVERVIEW CHART --- */
    .chart-header {
        @apply gap-4;
    }
    .chart-sub-heading {
        @apply text-xs;
    }
    .chart-heading {
        @apply text-base;
    }
    /* METRIC PILL */
    .metric-pill-layout {
        @apply grid grid-cols-1 gap-3 w-full overflow-x-auto items-stretch snap-x snap-mandatory scroll-smooth;
        grid-template-columns: auto auto auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }
    .metric-pill-card {
        @apply w-36 mb-1 space-y-1 p-3 rounded;
    }
    .pill-card-label {
        @apply text-xs;
    }
    .pill-card-value {
        @apply text-base;
    }
    .pill-card-trend {
        @apply gap-0.5 px-1.5 py-0.5 text-[10px];
    }

    /* --- QUICK ACTIONS LIST --- */
    .quick-action-layout {
        @apply grid grid-cols-2 gap-3;
    }
    .action-card {
        @apply px-3 py-4 gap-y-1.5 text-sm rounded;
    }
    .action-card-icon {
        @apply text-lg;
    }

    /* --- RECENT ORDERS TABLE --- */
    .order-card-layout {
        @apply grid grid-cols-1 gap-3 items-stretch;
    }

    /* --- RECENT ACTIVITES --- */
    .recent-activites {
        @apply flex flex-col gap-y-3;
    }
}