@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-hind-siliguri: 'Hind Siliguri', sans-serif;
}

html {
  scroll-behavior: smooth;
}
  
body {
  @apply font-montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quickbd-transition {
    @apply transition-all duration-500 ease-in-out;
}