.main-navbar {
    @apply sticky top-0 bg-ghost-white z-[997] shadow-md
}
.quickbd-navbar {
    @apply flex items-center justify-between px-40 py-4 border-b border-border-color/60;
}
.small-navbar {
    @apply hidden
}
.navbar-items {
    @apply flex space-x-10 font-semibold text-lg text-heading-color;
}
.navbar-item:hover {
    @apply text-primary underline;
}
.active-nav {
    @apply text-primary font-bold;
}
.navbar-icons {
    @apply flex items-center space-x-6;
}
.navbar-icon {
    @apply w-6 h-6;
}
.navbar-icons > li :hover {
    @apply text-primary;
}
.cart-icon {
    @apply flex items-center;
}
.cart-count {
    @apply bg-heading-color text-ghost-white text-xs font-semibold rounded-full py-1.5 px-2.5 ml-0.5;
}

/* SIDEBAR */
.oberlay {
    @apply fixed inset-0 bg-secondary/80 z-[999];
}
.sidebar {
    @apply fixed top-0 h-screen flex flex-col justify-between bg-ghost-white z-[1002] transform transition-transform duration-500 ease-in-out;
    width: calc(100% / 3);
}
/* SIDEBAR HEADER */
.sidebar-header {
    @apply flex items-center justify-between p-6 shadow-lg flex-shrink-0;
}
.sidebar-heading {
    @apply text-lg font-medium text-secondary;
}
.close-btn {
    @apply text-heading-color font-semibold bg-heading-color/0 rounded-sm;
}
.close-btn:hover {
    @apply  bg-heading-color/20;
}
/* SIDEBAR CONTENT */
.cart-list-container {
    @apply flex-1 overflow-y-auto py-6;
}
.cart-empty {
    @apply text-center text-body-color font-medium;
}
.cart-list-item {
    @apply px-6 py-3 flex items-center gap-3 w-full;
}
.cart-list-item:hover {
    @apply bg-heading-color/20
}
.cart-item-content {
    @apply flex flex-col gap-y-2 w-full;
}
.item-title {
    @apply text-heading-color text-base font-semibold flex justify-between items-center
}
.varitent {
    @apply text-body-color text-sm;
}
.varitent span {
    @apply font-medium;
}
.price-qty {
    @apply flex justify-between items-center;
}
.qty-selector {
    @apply text-base flex items-center gap-x-4 text-heading-color border border-heading-color rounded px-2 py-1;
}
.qty-change:hover {
    @apply text-primary bg-primary/10
}
.unit-price {
    @apply text-sm text-body-color font-medium;
}
.total-price {
    @apply text-base font-bold text-heading-color;
}
/* SIDEBAR FOOTER */
.sidebar-footer {
    @apply flex-shrink-0 flex flex-col space-y-4 items-center w-full p-6 shadow-[0_-10px_15px_rgba(0,0,0,0.1)];
}
.sub-total {
    @apply flex items-center justify-between uppercase text-heading-color w-full font-semibold;
}
.buttons {
    @apply flex gap-6 w-full
}

/* -------------------------------------------------------------- */
/* MEDIUM SCREEN */
@media (min-width: 639px) and (max-width: 1024px) {
    .quickbd-navbar {
        @apply px-10 py-4;
    }
    .small-navbar {
        @apply hidden
    }
    .navbar-logo {
        @apply w-28 h-auto;
    }
    .navbar-items {
        @apply space-x-6 text-sm;
    }
    .navbar-icons {
        @apply space-x-4;
    }
    .navbar-icon {
        @apply w-5 h-5;
    }
    .cart-count {
        @apply py-0.5 px-1.5 font-normal;
    }

    /* SIDEBAR */
    .sidebar {
        width: 66%;
    }
    /* SIDEBAR HEADER */
    .sidebar-header {
        @apply p-5;
    }
    .sidebar-heading {
        @apply text-base;
    }
    /* SIDEBAR CONTENT */
    .cart-list-container {
        @apply py-5;
    }
    .cart-list-item {
        @apply px-5;
    }
    /* SIDEBAR FOOTER */
    .sidebar-footer {
        @apply space-y-3 p-5;
    }
    .buttons {
        @apply flex gap-5;
    }
}


/* -------------------------------------------------------------- */
/* SMALL SCREEN */
@media (max-width: 639px) {
    .quickbd-navbar {
        @apply hidden;
    }
    .small-navbar {
        @apply flex items-center justify-between px-8 py-4 border-b border-border-color/60;
    }
    .cart-count {
        @apply py-1 px-2 font-medium;
    }
    /* MENU SIDEBAR */
    .sidebar {
        @apply p-6;
        width: calc(100% - 32px);
    }
    /* *** TOP PART *** */
    .sidebar-search-box {
        @apply flex items-center justify-between py-3 px-4 border-2 border-body-color rounded-md;
    }
    .search-input-wrapper {
        @apply flex items-center space-x-2;
    }
    .sidebar-search-input {
        @apply w-full border-none text-sm text-heading-color font-medium bg-ghost-white;
    }
    .sidebar-search-input:focus {
        @apply outline-none;
    }
    .sidebar-search-box input::placeholder {
        @apply text-body-color;
    }
    .sidebar-search-btn {
        @apply text-ghost-white bg-primary px-4 py-1.5 rounded text-sm font-medium;
    }
    .sidebar-nav-list {
        @apply flex flex-col space-y-4;
    }
    .nav-item {
        @apply flex text-base text-heading-color font-semibold border-b-2 border-border-color/60 pb-2;
    }
    .nav-item:hover {
        @apply border-primary;
    }
    .active-nav-item {
        @apply text-primary font-bold border-primary;
    }
    /* *** BOTTOM PART *** */
    .cart-full-btn {
        @apply text-body-color flex items-center justify-between border-b-2 border-border-color/60 pb-2
    }
    .cart-full-btn>p {
        @apply text-base font-semibold;
    };
    .social-icons {
        @apply flex gap-x-4 text-body-color
    }
}